* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drag] {
  width: 130px;
  height: 50px;
  color: black;
  cursor: move;
  overflow: hidden;
  border: solid 1px black;
}

ul.draggable-objects:after {
  display: block;
  content: '';
  clear: both;
}

[ng-drag].dragging {
  opacity: 0.5;
}

[ng-drop] {
  width: 130px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
}

[ng-drop].drag-enter {
  border: solid 3px black;
}

.div_pos {
  width: 130px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.green_drop {
  background: rgba(0, 255, 0, 0.5);
}

.red_drop {
  background: rgba(255, 0, 0, 0.5);
}

.grey_drop {
  background: rgba(208, 208, 208, 0.5);
}
