* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srf-drag {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.srf-drag {
  width: 120px;
  height: 45px;
  cursor: move;
  overflow: hidden;
  border: solid 1px black;
  margin-top: 10%;
}

.white-card {
  background: white;
  color: black;
}

.criteria-card {
  background: black;
  color: white;
}

.undraggable-card {
  width: 120px;
  height: 45px;
  overflow: hidden;
  border: solid 1px black;
  margin-top: 10%;
}

ul.draggable-objects:after {
  display: block;
  content: "";
  clear: both;
}

.draggable-objects ul {
  display: table-row;
}

.draggable-objects li {
  display: inline-block;
  width: 120px;
  height: 45px;
  margin-left: 1%;
}

.srf-drag.drag-over {
  border: solid 1px black;
}

.srf-drag.dragging {
  opacity: 0.5;
}

.srf-drop {
  background: rgba(208, 208, 208, 0.5);
  text-align: center;
  width: 100%;
  height: 74px;
  position: relative;
  display: table;
  border: 1px solid black;
}

.srf-drop.drag-enter {
  border: 1px solid blue;
}

.srf-drop div {
  position: relative;
  z-index: 2;
}
