/*** MODULE TEMPLATES ***/

.module-template {
  position: absolute;

  background-color: #d6d6c2;
  color: black;

  border: black 1px solid;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.module-inputfile {
  height: 44px;
  width: 150px;
}

.module-orderby {
  height: 61.5px;
  width: 140px;
}

.module-sort {
  height: 45.5px;
  width: 140px;
}

.module-cat-sd {
  height: 146.5px;
  width: 190px;
}

.module-inquiry {
  height: 79.5px;
  width: 140px;
}

.module-srf {
  height: 131.5px;
  width: 170px;
}

.module-outputfile {
  height: 43px;
  width: 175px;
}

.module-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border: black 1px solid;
  padding: 0;
}

.module-circle-input {
  background-color: yellow;
}

.module-circle-output {
  background-color: red;
}

.module-circle-span {
  position: absolute;
  font-size: 12px;
  color: black;
}

.module-circle-anchor {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

/*** MODALS ***/

.custom-modal .modal-dialog {
  cursor: default;
  width: 95%;
}

/*** ALERTS ***/

.custom-alert {
  position: absolute;
  width: 100%;
  height: 9vh;
  margin-top: -1%;
  margin-left: -10%;
}


/*** WORKSPACE ***/

#workspace {
  height: 73vh;
  border: black 1px solid;
  margin-top: 0.5%;
}

#svg {
  width: 100%;
  height: 100%;
}
/*** EXECUTION MENU ARROWS ***/

.blue_arrow {
  color: blue;
}

.black_arrow {
  color: black;
}

/*** CONNECTOR LINES ***/

line {
  stroke: green;
  stroke-width: 3;
}

line:hover {
  stroke-width: 5;
}

/*** CONNECTION STATUS ***/

.connection-circle {
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.green-light {
  background-color: #40ff00;
}

.red-light {
  background-color: #ff3300;
}
