.module-template {
  position: absolute;

  width: 25%;
  height: 25%;
  margin: 10%;

  background-color: #29e;
  color: white;

  border: black 1px solid;
  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.module-inputfile {
  height: 15%;
}

.module-circle {
  position: absolute;
  border-radius: 100%;
	width: 12px;
	height: 12px;
  border: black 1px solid;
}

.module-circle-input {
  background-color: yellow;
}

.module-circle-output {
  background-color: red;
}

.module-circle-span {
  position: absolute;
  font-size: 12px;
  color: black;
}

.module-circle-anchor {
  color: black;
}

.custom-modal .modal-dialog {
  cursor: default;
  width: 95%;
}

.custom-alert {
  position: absolute;
  width: 60%;
  margin-top: -5%;
  margin-left: 30%;
}
